@font-face {
  font-family: "GothamPro";
  src: url("../fonts/gotham-pro/gothampro.woff") format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "GothamPro";
  src: url("../fonts/gotham-pro/gothampro_light.woff") format("woff");
  font-weight: 300;
}

@font-face {
  font-family: "GothamPro";
  src: url("../fonts/gotham-pro/gothampro_medium.woff") format("woff");
  font-weight: 500;
}

@font-face {
  font-family: "GothamPro";
  src: url("../fonts/gotham-pro/gothampro_bold.woff") format("woff");
  font-weight: 700;
}

@font-face {
  font-family: "GothamPro";
  src: url("../fonts/gotham-pro/gothampro_black.woff") format("woff");
  font-weight: 900;
}
